.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-a487-4 {
  font-weight: 700;
  background-image: none;
}

.u-block-a487-55 {
  height: 45px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Height of the footer */
}