body {
  background-color: #F5F5F5; /* set background color for the whole page */
}

form {
  width: 50%; /* set the width of the form */
  margin: auto; /* center the form horizontally */
  background-color: #FFFFFF; /* set the background color of the form */
  padding: 20px; /* add some padding to the form */
  border-radius: 5px; /* round the corners of the form */
  margin-top: 4rem;
}

label {
  display: block; /* put each label on a new line */
  margin-bottom: 5px; /* add some space between the label and the input */
}

select,
input[type="text"] {
  width: 100%; /* set the width of the input elements to 100% */
  padding: 5px; /* add some padding to the input elements */
  border-radius: 3px; /* round the corners of the input elements */
  border: 1px solid #CCCCCC; /* add a border to the input elements */
  box-sizing: border-box; /* make sure the border is included in the element's width */
}

#form-buttons {
  text-align: center;
}

#form-buttons button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
}

.decline {
  background-color: red;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  margin-left: 23.5rem;
  border-radius: 0.8rem;
  font-size: 1.25rem;
}

.submit {
  background-color: green;
  margin-right: 10px;
  text-align: center;
    color: #fff;
    margin: auto;
    border-radius: 0.8rem;
    font-size: 1.25rem;
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .form-field input,
    .form-field select {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    #form-buttons button {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }