.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-tabs-1 {
  min-height: 375px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 353px;
  margin: 0 570px -23px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}